@import "tailwindcss";

@font-face {
  font-family: "Wix Madefor Display";
  src: url("/Wix_Madefor_Display/WixMadeforDisplay-VariableFont_wght.ttf") format("truetype-variations");
}

* {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}