@import "tailwindcss";

* {
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Wix Madefor Display", sans-serif;
    background: #f2f2f2;
}

.font-instrument-sans {
    font-family: "Instrument Sans", sans-serif !important;
}

.font-damion {
    font-family: "Damion", sans-serif !important;
}

.font-inter {
    font-family: "Inter", sans-serif !important;
}

#container::-webkit-scrollbar {
    display: none;
}

.lds-ripple,
.lds-ripple div {
    box-sizing: border-box;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.animate-fade-in {
    opacity: 0;
    animation: fade-in 1s steps(45, end) forwards;
}

.staggered-animation {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(20px);
    animation-name: animateIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        filter: blur(0px);
    }
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
